// .wp-block-create-block-team-image {
// 	background-color: #21759b;
// 	color: #fff;
// 	padding: 2px;
// }

.sp-team__wrapper__member {
	text-align: center;

	&__picture {
		width: 100%;
		// height: 100%;
		object-fit: cover;
	}
}
